@{
    ViewBag.Title = "Home Page";
}





<div class="jumbotron">
    
    <h1>WHY GRINLIGHT</h1>
    <p class="lead">More often than not we are met with circumstances we least expected. </p>
    <p><a href="http://asp.net" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <h2>Featured Campaigns</h2>
    <div class="col-md-3">
        <div class="fc-small">
            <div class="fc-small-img">
                <a href="">
                    <img src="~/Content/img/boa2.jpg" />
                </a>
            </div>
            <div class="fc-small-content">
                <a>
                    <h6>Put Title Somewhere here</h6>
                </a>
                <p>GHS 1000</p>
            </div>
            <div class="fc-small-pbar">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        
                        30%
                    </div>
                </div>
            </div>
            <div class="fc-small-info">
                <div>
                    <p>Days Left</p>
                    <p>32</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="fc-small">
            <div class="fc-small-img">
                <a href="">
                    <img src="~/Content/img/boa2.jpg" />
                </a>
            </div>
            <div class="fc-small-content">
                <a>
                    <h6>Put Title Somewhere here</h6>
                </a>
                <p>GHS 1000</p>
            </div>
            <div class="fc-small-pbar">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">

                        30%
                    </div>
                </div>
            </div>
            <div class="fc-small-info">
                <div>
                    <p>Days Left</p>
                    <p>32</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="fc-small">
            <div class="fc-small-img">
                <a href="">
                    <img src="~/Content/img/boa2.jpg" />
                </a>
            </div>
            <div class="fc-small-content">
                <a>
                    <h6>Put Title Somewhere here</h6>
                </a>
                <p>GHS 1000</p>
            </div>
            <div class="fc-small-pbar">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">

                        30%
                    </div>
                </div>
            </div>
            <div class="fc-small-info">
                <div>
                    <p>Days Left</p>
                    <p>32</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="fc-small">
            <div class="fc-small-img">
                <a href="">
                    <img src="~/Content/img/boa2.jpg" />
                </a>
            </div>
            <div class="fc-small-content">
                <a>
                    <h6>Put Title Somewhere here</h6>
                </a>
                <p>GHS 1000</p>
            </div>
            <div class="fc-small-pbar">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">

                        30%
                    </div>
                </div>
            </div>
            <div class="fc-small-info">
                <div>
                    <p>Days Left</p>
                    <p>32</p>
                </div>
            </div>

        </div>
    </div>
</div>