@{
    ViewBag.Title = "Home Page";
}




@*<div class="jumbotron">
    
    <h1>WHY GRINLIGHT</h1>
    <p style="text-align: left" class="lead">We know it's sometimes difficult to ask so we make it simple for you. </p>
    <p><a href="http://asp.net" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row home-wrapper">
    <div><h2>The most trusted fundraising platform</h2></div>
    
        <div class="col-md-4">
            <h4>Free & Easy</h4>
            <p>
                Start accepting donations in minutes for free. We know it can be difficult sometimes to ask, so we made it easy for you.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">How it works &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Trust</h4>
            <p>This platform is the safest place to give and receive donations. Your donation is protected.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>24/7 Support</h4>
            <p>Our campaign coaches are available 24/7 and ready to provide support and answer all your questions.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ask a question &raquo;</a></p>
        </div>
   
</div>

<div class="row home-wrapper">
    <h2>Featured Campaigns</h2>
    <div class="col-md-3">
        <div class="fc-small">
            <div class="fc-small-img">
                <a href="">
                    <img src="~/Content/img/boa2.jpg" />
                </a>
            </div>
            <div class="fc-small-content">
                <a>
                    <h6>Put Title Somewhere here</h6>
                </a>
                <p>GHS 1000</p>
            </div>
            <div class="fc-small-pbar">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                        
                        30%
                    </div>
                </div>
            </div>
            <div class="fc-small-info">
                <div>
                    <p>Days Left</p>
                    <p>32</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="fc-small">
            <div class="fc-small-img">
                <a href="">
                    <img src="~/Content/img/boa2.jpg" />
                </a>
            </div>
            <div class="fc-small-content">
                <a>
                    <h6>Put Title Somewhere here</h6>
                </a>
                <p>GHS 1020</p>
            </div>
            <div class="fc-small-pbar">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">

                        30%
                    </div>
                </div>
            </div>
            <div class="fc-small-info">                
                    <span class="pull-left overview-camp-goal">
                        Goal<br /> GHS 30, 000
                    </span>
                    <span class="pull-right overview-camp-days">
                        Days Left<br>322                                                
                    </span> 
                              
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="fc-small">
            <div class="fc-small-img">
                <a href="">
                    <img src="~/Content/img/boa2.jpg" />
                </a>
            </div>
            <div class="fc-small-content">
                <a>
                    <h6>Put Title Somewhere here</h6>
                </a>
                <p>GHS 1000</p>
            </div>
            <div class="fc-small-pbar">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">

                        30%
                    </div>
                </div>
            </div>
            <div class="fc-small-info">
                <div>
                    <p>Days Left</p>
                    <p>32</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="fc-small">
            <div class="fc-small-img">
                <a href="">
                    <img src="~/Content/img/boa2.jpg" />
                </a>
            </div>
            <div class="fc-small-content">
                <a>
                    <h6>Put Title Somewhere here</h6>
                </a>
                <p>GHS 1000</p>
            </div>
            <div class="fc-small-pbar">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">

                        30%
                    </div>
                </div>
            </div>
            <div class="fc-small-info">
                <div>
                    <p>Days Left</p>
                    <p>32</p>
                </div>
            </div>

        </div>
    </div>
</div>
